h1 {
    color: red;
    background-color: aqua;
  }
  h2 {
    color: chartreuse;
    background-color: beige;
  }
  body {
    background-color: black;
    color: white;
  }
  em {
    color: yellow;
    font-variant: small-caps;
  }